<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mxgraph_com</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SavePreviewServlet</display-name>
    <servlet-name>SavePreviewServlet</servlet-name>
    <servlet-class>com.mxgraph.online.SavePreviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavePreviewServlet</servlet-name>
    <url-pattern>/save_preview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SemanticDefinitionCreator</display-name>
    <servlet-name>SemanticDefinitionCreator</servlet-name>
    <servlet-class>XMLUploadExternalFile.SemanticDefinitionCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SemanticDefinitionCreator</servlet-name>
    <url-pattern>/semanticgen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DefaultDefinitionCreator</display-name>
    <servlet-name>DefaultDefinitionCreator</servlet-name>
    <servlet-class>XMLUploadExternalFile.DefaultDefinitionCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultDefinitionCreator</servlet-name>
    <url-pattern>/rulesgen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCorrectnessServlet</display-name>
    <servlet-name>CheckCorrectnessServlet</servlet-name>
    <servlet-class>com.mxgraph.online.CheckCorrectnessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCorrectnessServlet</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCorrectnessServlet</servlet-name>
    <url-pattern>/CheckCorrectnessServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>InteractiveCorrectnessServlet</display-name>
    <servlet-name>InteractiveCorrectnessServlet</servlet-name>
    <servlet-class>com.mxgraph.online.InteractiveCorrectnessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InteractiveCorrectnessServlet</servlet-name>
    <url-pattern>/interactive</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InteractiveCorrectnessServlet</servlet-name>
    <url-pattern>/InteractiveCorrectnessServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SaveServlet</display-name>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>com.mxgraph.online.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/SaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenServlet</display-name>
    <servlet-name>OpenServlet</servlet-name>
    <servlet-class>com.mxgraph.online.OpenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenServlet</servlet-name>
    <url-pattern>/open</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProxyServlet</display-name>
    <servlet-name>ProxyServlet</servlet-name>
    <servlet-class>com.mxgraph.online.ProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProxyServlet</servlet-name>
    <url-pattern>/proxy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmbedServlet</display-name>
    <servlet-name>EmbedServlet</servlet-name>
    <servlet-class>com.mxgraph.online.EmbedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmbedServlet</servlet-name>
    <url-pattern>/embed.js</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IconFinder</display-name>
    <servlet-name>IconFinder</servlet-name>
    <servlet-class>com.mxgraph.online.IconFinderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IconFinder</servlet-name>
    <url-pattern>/iconfinder</url-pattern>
  </servlet-mapping>
  <mime-mapping>
    <extension>properties</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
</web-app>